{% extends 'main.html' %}

{% block content %}

    <table>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Positive Votes</th>
            <th>Votes</th>
            <th>creation date</th>
        </tr>
            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.title }}</td>
                    <td>{{ project.vale_total }}</td>
                    <td>{{ project.vale_ratio }}</td>
                    <td>{{ project.created }}</td>
                    <td>Edit</td>
                    <td>Delete</td>
                    <td><a href="{% url 'project' project.id %}">View</a></td>
                </tr>
            {% endfor %}
    </table>

    <h1>Hello</h1>

{% endblock content %}